<div class="container mt-4">
    <h2 class="mb-4">NUEVO USUARIO</h2>
  
    <form  (ngSubmit)="onSubmit()">
      <!-- Nombre -->
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre Usuario</label>
        <input type="text" id="nombre" class="form-control" formControlName="nombre" placeholder="Ingrese su nombre de usuario" 
         >
        <div class="invalid-feedback" >
          El nombre es obligatorio.
        </div>
      </div>
  
      <!-- Apellido -->
      <div class="mb-3">
        <label for="apellido" class="form-label">Apellido Usuario</label>
        <input type="text" id="apellido" class="form-control" formControlName="apellido" placeholder="Ingrese su apellido de usuario" 
          >
        <div class="invalid-feedback" >
          El apellido es obligatorio.
        </div>
      </div>
  
      <!-- Email -->
      <div class="mb-3">
        <label for="email" class="form-label">Email Usuario</label>
        <input type="email" id="email" class="form-control" formControlName="email" placeholder="Ingrese email del usuario"
          >
        <div class="invalid-feedback" >
          El email es obligatorio.
        </div>
        <div class="invalid-feedback" >
          Formato de email inválido.
        </div>
      </div>
  
      <!-- Imagen -->
      <div class="mb-3">
        <label for="imagen" class="form-label">Imagen Usuario</label>
        <input type="text" id="imagen" class="form-control" formControlName="imagen" placeholder="Ingrese la URL de la foto"
         >
        <div class="invalid-feedback" >
          La URL de la imagen es obligatoria.
        </div>
      </div>
  
      <!-- Botón -->
      <button type="submit" class="btn border">Guardar</button>
    </form>
  </div>
  