<div class="card shadow-sm text-center">
    <img [src]="user.image" class="card-img-top rounded-circle mx-auto mt-3" [alt]="user.first_name">
    <div class="card-body">
      <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
      <div class="btn-group w-100">
        <button class="btn btn-primary" (click)="onViewDetails()">👁 Ver</button>
        <button class="btn btn-warning" (click)="onEditUser()">✏️ Editar</button>
        <button class="btn btn-danger" (click)="onDeleteUser()">🗑 Eliminar</button>
      </div>
    </div>
  </div>